
@media screen and (min-width: 997px){
    
   .sidebar-nav {
    display: none !important;
   }
}


@media screen and (max-width:699px){
     .bi-list {
    display: block !important;
}

    .left-set{
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        
    }

    .navbar .right-set ul li a{
        display: none;
    }



.bi-x {
    font-size: 40px;
    display: block;
}

/* main contents styling */

.herosec{
    display: flex;
    flex-direction: column;
    margin-top: 20px !important;
}

.l-set, .r-set{
    display: none;
}

div[m-set] h1 {
    width: 310px;
    font-size: 34px;  
    
}
div[m-set] p{
    font-size: 10px 
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.sec-3c{
   padding: 30px;
   
}

.sec-3{
   
    padding-top: 10px !important;
}

.sec2h1{
    font-size: 25px !important;
    font-weight: 600 !important;
}

[m-set] p{
    width: 240px;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.sec-3c{
    padding: 40px !important;
}
.sec-3c h1{
    
    font-size: 20px !important;
    font-weight: 700;
}

.sec-3 img{
    width: 300px !important;
    height: 300px !important;
}

.sec-5c div img{
    object-fit: cover;
width: 200px !important;
    height: 250px !important;

}


}

@media screen and (min-width: 700px) and (max-width: 1177px){
    
    /* Hide the desktop navbar styling */
    .navbar .right-set ul li a{
        display: none !important;
    }

      .bi-list {
    display: block !important;
      }

    
    .sidebar-nav {
    display: block;
}

.bi-x {
    font-size: 40px;
    display: block;
}
 

  .sidebar-nav {
    display: block;       
}

.card-container{
  display: flex;
    flex-wrap: wrap;       
    gap: 20px;
    justify-content: center;
}

.sec-3{
    display: flex;
    justify-content: space-around;
}

.r-set img, .l-set img{
    display: none;
}
.sec2h1{
    font-size: 40px !important;
}

}